/* Enter your custom styles here */
/* :root {
    --root-color: 112, 62, 151;
    Set from user theme settings
    --primary-color: rgba(var(--root-color), 1);
    --primary-Text-Color: #ffffff;
    --secondary-Text-Color: #000000;
    --page-background-color: #ffffff;
    --secondary-background-color: #F3F2F1;
    --hover-background-color: rgba(var(--root-color), 0.1);
    --transparent-button-background: rgba(var(--root-color), 0.12);
    --font: "Roboto";
    Segoe UI
} */

/* Global Style */
* {
    font-family: Roboto, sans-serif, 'SAP-icons' !important;
}

/* Main header */
.sapTntToolHeader.sapMTB {
    background: #F6F6F9 !important;
}

/* main page */
.voPage {
    background-color: #FFF !important;
}

/* toolbar style */
.voHideUnderline {
    border-bottom: 0px !important;
}

.voToolBarH5 {
    height: 56px !important;
}

.voToolBarH3 {
    height: 2.5rem !important;
    background: transparent;
}

.voToolBarTable{
    height: 3.2rem !important;
    background: transparent;
}

.voToolBarlabel {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: transparent;
    height: 2.5rem !important;
}

/* panel style */
.sapMPanelHdr{
    color: #1D1D1D !important;
    font-weight: 600 !important;
}
.sapMPanel>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb{
    border-bottom: none !important;
}
.sapMTB-Transparent-CTX>.sapMTitleTB.sapMTitleStyleAuto {
    font-size: 1rem;
    font-weight: 600;
}

.sapMPanel>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb {
   margin-top: 3px !important;
}
.sapMPanel .sapMPanelWrappingDiv .sapMPanelHdr, .sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB {
    margin-left: 4.2rem;
}
.sapMPanelWrappingDiv .sapUiIcon {
    background: #FFFFFF;
    border: 1px solid #703E97;
    width: 12px !important;
    height: 12px;
    color: #757575;
    margin-left: 2rem;
}


/* search filter background style */
.voFilterBackground2 {
    background-color: #fefefe;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 1px rgba(9, 30, 66, 0.31), 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 12px 12px #E1E1E1 !important;
}


/* Title style */
.voTitle {
    color: #512D6D;
    font-weight: bold;
}

/* Label style */
.voLabel {
    color: #1D1D1D;
}

/* Input style */

.voInputText .sapMInputBaseContentWrapper {
    border-radius: 4px;
    height: 2.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    background: none;
    background-color: #fff;
    border: 1px solid #BDBDBD;
    position: relative;
    overflow: hidden;
}

.voInputText .sapMInputBaseContentWrapper:focus {
    border-radius: 4px;
    height: 2.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    background: none;
    background-color: #fff;
    border: 0.125rem solid #512D6D !important;
    position: relative;
    overflow: hidden;
}

.voInputText .sapMInputBaseContentWrapperError {
    border-radius: 4px;
    height: 2.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    background: none;
    background-color: #fff;
    border: 0.13rem solid #B3261E;
    position: relative;
    overflow: hidden;
}

.voInputText.sapMInputBaseDisabled .sapMInputBaseContentWrapper {
    background-color: #f2f3f3;
}

.sapMInputBaseDisabled {
    opacity: 1;
}
 
/* combobox style */

.voComboBox .sapMInputBaseContentWrapper {
    border-radius: 4px;
    height: 2.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    background: none;
    background-color: #fff;
    border: 1px solid #BDBDBD;
    position: relative;
    overflow: hidden;
}

.voComboBox .sapMInputBaseContentWrapperError {
    border-radius: 4px;
    height: 2.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0;
    background: none;
    background-color: #fff;
    border: 0.13rem solid #B3261E;
    position: relative;
    overflow: hidden;
}

.voComboBox.sapMInputBaseDisabled .sapMInputBaseContentWrapper {
    background-color: #f2f3f3;
}

.voComboBox .sapMInputBaseIconContainer .sapMInputBaseIcon {
    height: 2.1rem !important;
    ;
}

.voComboBox .sapMInputBaseIcon {
    line-height: 2.1rem !important;
    color: #3d3d3e !important;
}

.sapMInputBaseIconPressed .sapMInputBaseIcon,
.sapMInputBaseIconPressed .sapMInputBaseIcon:hover {
    background: #512D6D !important;
}

.sapMInputBaseIconPressed .sapMInputBaseIcon::before {
    color: #fff;
}

.sapMInputFocused .sapMFocus .sapMInputBaseContentWrapper {
    border-width: 2px !important;
}

.sapMInputBase {
    line-height: 1rem;
    height: 2.1rem !important;
}

.sapMInputBaseIcon:hover {
    color: black !important;
}

/* select style */
.sapMSlt {

    border-radius: 4px !important;

    height: 2.1rem !important;

    box-sizing: border-box !important;

    vertical-align: middle !important;

    background: none !important;

    background-color: #fff !important;

    border: 0.0625rem solid #89919a !important;

    position: relative !important;

    overflow: hidden !important;

}

.sapMSltArrow {
    height: 1.7rem !important;
    margin: 2px 2px 2px 2px !important;
}

.sapMSltPressed>.sapMSltArrow {
    background-color: #703E97 !important;
    color: #fff !important;
    box-shadow: none !important;
}

.sapMSlt:not(.sapMSltState).sapMSltPressed>.sapMSltArrow::before {
    color: #FFFFFF;
}

/* Button emphasized style */

.voBtnEmphasized span.sapMBtnInner {
    height: 2.1rem;
    font-weight: 500;
    align-content: center;
    background-color: #703E97;
    border-color: #703E97;
    border-radius: 4px;
}

.voBtnEmphasized span.sapMBtnInner .sapUiIcon {
    line-height: 1.8rem;
}

.voBtnEmphasized .sapMBtnContent {
    line-height: 1.8rem !important;
}

.voBtnEmphasized:hover>.sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: #703E97;
    border-color: #703E97;
}

/* Button default style */
.voBtnDefault span.sapMBtnInner {
    height: 2.1rem;
    font-weight: 500;
    align-content: center;
    border-color: #703E97 !important;
    border-radius: 4px;
    background-color: #fefefe;
}

.voBtnDefault span.sapMBtnInner .sapUiIcon {
    line-height: 1.8rem;
    color: #703E97 !important;
}

.voBtnDefault .sapMBtnContent {
    line-height: 1.8rem !important;
    color: #703E97;
}

/* Global button */
.sapMBtn {
    height: 40px !important;
}






/* Vendor Registration Form  */
/* Panel  */
.vendorRegistrationFormPanel.sapMPanel{
    border-radius: 0 !important;
    padding-top: 16px;
}
.vendorRegistrationFormPanel .sapMPanelWrappingDiv .sapUiIcon {
    right: 0;
    background: #703E97;
    border: 1px solid #FFFFFF;
    width: 12px;
    height: 12px;
    margin-right: 2rem;
}
.vendorRegistrationFormPanel .sapUiIcon {
    color: white;
}
.vendorRegistrationFormPanel .sapMPanelHdr {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #512D6D;
}
.vendorRegistrationFormPanel.sapMPanel .sapMPanelWrappingDiv:not(.sapMPanelWrappingDivExpanded), .sapMPanel .sapMPanelWrappingDivTb:not(.sapMPanelWrappingDivTbExpanded) {
    border-radius: 0.75rem;
    overflow: hidden;
}
.vendorRegistrationFormPanel.sapMPanel .sapMPanelHdr {
    margin-left: 2rem !important;
}
.sapMPanelExpandable .sapMPanelWrappingDiv:focus {
    outline: none !important;
}

.sapMPanelBGTranslucent {
    background-color: transparent;
}
.sapMPanel>.sapMPanelHdr, .sapMPanelWrappingDiv, .sapMPanelWrappingDivTb {
    background: transparent;
}

/* section  */
.vendorRegistrationFormSection {
    background: rgba(249, 249, 249, 0.8);
    border-radius: 8px;
}
.vendorRegistrationFormSectionLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0025em;
    color: #512D6D;
}
.voGridLabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    color: #1D1D1D;
}

/* Wizard  */
.sapMWizard .sapMWizardStepContainer {
    margin-top: 6rem;
}
.sapMWizardProgressNav{
    height: 6rem;
}
.voWizardstep .sapMWizardStepTitle {
    display: none;
}
.voWizard.sapMWizard.sapMWizardBgStandard .sapMWizardStepContainer {
    background: white;
}
.voWizard .sapMWizardProgressNav {
    z-index: 0;
}
.sapMWizardProgressNavStep::after {
    display: none;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"]~.sapMWizardProgressNavStep .sapMWizardProgressNavStepCircle {
    border-color: #E0E0E0;
    background: #F2F2F2;
    color: #757575;
}
.sapMWizardProgressNavStepCircle {
    border-color: #E0E0E0;
    background: #F2F2F2;
    color: #757575;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavStepCircle {
    background: #FFFFFF;
    color: #703E97;
    border-color: #703E97;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavStepTitle {
    color: #512D6D;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.sapMWizardProgressNavStepTitle{
    color: #757575;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"]~.sapMWizardProgressNavStep .sapMWizardProgressNavStepTitle {
    color: #757575;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"]:hover .sapMWizardProgressNavStepCircle {
    background-color: transparent;
    color: #703E97;
}
.sapMWizardProgressNavStep:hover .sapMWizardProgressNavStepCircle {
    background-color: transparent;
    color: #703E97;
}
.sapMWizardProgressNavStep:focus .sapMWizardProgressNavStepContainer {
    outline: 0rem solid #3026B9;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"]::after, .sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"]~.sapMWizardProgressNavStep::after{
    display: none;
}
.sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavStepCircle::after {
    height: 0.15rem;
    background: #512D6D;
    content: "";
    display: block;
    position: relative;
    width: 400%;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    bottom: -2.3rem;
}

.sapMWizardProgressNavStep::after {
    content: "";
    display: contents;
    position: absolute;
    top: 1rem;
    left: 3rem;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: -1;
}

.sapMWizardProgressNavList, .sapMWizardProgressNavListVarying {
    display: block !important;
    table-layout: fixed;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3rem;
}
/* .sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"] .sapMWizardProgressNavStepContainer::after {
    /* height: 0; */
    /* height: 0.75rem !important;
    background: #512D6D;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    width: 80%;
    bottom: -0.75rem; */
/* } */ 

/* Task Detail  */
.taskDetailHbox {
    margin: 32px;
    border: 1px solid #E0E0E0;
    display: flex;
}
.taskDetailsVbox1{
    flex: 3;
}
.taskDetailsVbox2{
    flex: 1.2;
}
.newVendorApplicationApproval {
    border-right: 1px solid #E0E0E0;
}
.taskDetailTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
}
.taskDetailButtonViewDetail{
    width: 109px;
}
.taskDetailButtonViewDetail .sapMBtnInner {
    background-color: #E2D8EA;
    border-radius: 16px;
    border: 0;
    padding: 4px 16px;
    height: 32px !important;
}
.taskDetailButtonViewDetail .sapMBtnContent {
    font-weight: 400;
    color: #512D6D;
}
.taskDetailButtonViewDetail :not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive {
    background-color: yellow;
}
.newVendorApplicationApprovalVBox1 {
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;
    padding-left: 32px;
}
.newVendorApplicationApprovalVBox2 {
    border-bottom: 1px solid #E0E0E0;
    padding: 16px;

}
.newVendorApplicationApprovalVBox3 {
    padding: 16px;
}
.taskDetailAvatarVbox{
    padding: 8px;
}
.taskDetailAvatarTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #424242;
}
.taskDetailAvatarTimestamp {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #757575;
}
.taskDetailFormLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}
.taskDetailFormText {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
}
.taskDetailSubTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0015em;
    color: #1D1D1D;
}
.taskDetailLabelOnboardingDetail {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #1D1D1D;
}

.taskDetailLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #424242;
}
 /* Activity Log  */
 .wbProcessFlowBarAudit {
    height: 100%;
    border-left: 3px solid #E0E0E0;
    margin-top: 3px;
}




































/* white background css  */
.whiteBg{
    background-color: white;
}